<h1>Here are all the bookings</h1>
<% @bookings.each do |booking| %>

  
  <%if booking.user_id == params[:user_id].to_i%>
  <div class="card">
  <div class="card-body">
    <h6>Status: <%= booking.status %></h6>
    <p>Start date: <%= booking.start_date%></p>
    <p>End date: <%= booking.end_date %></p>
    <p>Price: <%= booking.skill.price %></p>
    <p>Language: <%= booking.skill.name %></p>
  <%= link_to "Add a review",  new_skill_booking_review_path(booking.skill, booking), class:"btn btn-primary" %>
  </div>
</div>

    <%else%>
    <%end%>

<% end %>

