<% skills.each do |skill| %>
<% if skill.user_id == current_user.id %>
<% else %>
  <div class="card-container">
    <%= link_to skill_path(skill) do%>
    <%= cl_image_tag skill.user.photo.key, class:"round";%>


    <h3><%=skill.name%></h3>
    <% if skill.reviews.length != 0 %>
    <%= "⭐️"*(skill.average_rating / skill.bookings.length) %>
    <% else %>
    <%= "New Dave" %>
    <% end%>
    <h6>By <%=User.find(skill.user_id).name%></h6>
    <p><%= skill.price %><span>$</span></p>
    <div class="buttons">
      <button class="primary ghost">
        Book Now
      </button>
    </div>
    <% end %>
  </div>
  <% end %>
<% end %>
