<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<html>
  <body>

    <div class="wrapperI">
      <div class="headerI">
        <section class="hero__content hero__content--centered">
          <p>
            <span id="banner-typed-text"></span>
          </p>
              <div class="container">

<%= form_tag skills_path, method: :get do %>
  <%= text_field_tag :name,
    params[:name],
    class: "form-control",
    placeholder: "Dave.where(Skill==search)"
  %>
<%= submit_tag "Skilled_Dave(s).search", class:"btn btn-primary btn-search" %>
<% end %>


</div>
</section>
</div>

  <div class="row fond">
    <div class="ml-5">
      <h4 class="text-align">
        More than
              <% cards_count = 0 %>
              <% @skills.each do |skill| %>
                <%cards_count += 1 %>
                <%end%>
               <strong class="display-4 number"><%=  cards_count%></strong> skills available from our Daves

      </h4>
    </div>

    <div class="container-list">

       <%= render partial: "cards", locals: {skills: @skills} %>

    </div>
  </div>
  </body>
</html>


