
  <div id="booking" class="section">
    <div class="section-center">
      <div class="text-center" style="padding-top: 50px;">
      </div>
      <div class="container" style="padding-top: 100px;">
        <div class="row">
          <div class="col-md-7 col-md-push-5">
            <div class="booking-cta">
              <h3>Your Dave: <%= @skill.user.name%> is a master in <%= @skill.name%></h3>
              <% if @skill.bookings.exists?%>
              <h3>Average rating : <%= "⭐️"*(@skill.average_rating / @skill.bookings.length) %> after <%= @skill.bookings.length %> missions</h3>
              <% end %>
              <h2><%= price = (@skill.price)%>$ / Day</h2>
              <h2></h2>
<% @skill.reviews.each do |review| %>
<h6>"<%= review.content %>"</h6>
<%= "⭐️"*review.rating %>
<%end%>

            </div>
          </div>
          <div class="col-md-4 col-md-pull-7">
            <div class="w-50 ml-auto mr-auto">
            ​<%= simple_form_for @booking, url: skill_bookings_path(@skill.id), method: :post do |f| %>
             <div class="d-flex flex-row justify-content-around align-items-center">
              <%= f.input :start_date, as: :string, input_html: {type: :date} %>
              <%= f.input :end_date, as: :string, input_html: {type: :date} %>
             </div>
              <%= f.input :status, collection: Booking::STATUS %>
                <div class="form-actions d-flex justify-content-center">
                  <%= f.button :submit, class: "button_add" %>
                </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





