<p class="h1">Skill <%= @skill.name%> </p>
<h4>of <%= User.find(@skill.user_id).name %><h4>
<h4>Price : <%= @skill.price%><span>$</span></h4>

<h5>Reviews</h5>
<h5>Book Me</h5>


<% if policy(@skill).destroy? %>
  <%= link_to "Edit", edit_skill_path %> |
  <%= link_to "Delete #{@skill.name}",
            skill_path(@skill),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>
</br>

<%= link_to 'Back', skills_path %>
