<p class="h1">Skill <%= @skill.name%> </p>
<h4>of <%= User.find(@skill.user_id).name %><h4>
<h4>Price : <%= @skill.price%><span>$</span></h4>

<h5>Reviews</h5>
<h5>Book Me</h5>


<% if policy(@skill).destroy? %>
  <%= link_to "Edit",  edit_skill_path, class:"btn btn-primary" %> |
  <%= link_to "Delete #{@skill.name}",
            skill_path(@skill),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class:"btn btn-primary" %> |
<% end %>
<%= link_to "Check his bookings Xpldr", skill_bookings_path(@skill.id), class:"btn btn-primary" %> |
<%= link_to "Book this Dave",  new_skill_booking_path(@skill.id), class:"btn btn-primary" %> |
<%= link_to "I go to checkout other Daves",  skills_path, class:"btn btn-primary" %>


<h1>Here are all your review</h1>

<% @bookings.each do |reviews| %>
<div class="card">
  <div class="card-body">
    <h6>Status: <%= review.content %></h6>
    <p>Start date: <%= booking.start_date%></p>
    <p>End date: <%= booking.end_date %></p>
    <p>Price: <%= booking.skill.price %></p>
    <p>Language: <%= booking.skill.name %></p>
  <%= link_to "Add a review",  new_skill_booking_review_path(booking.skill, booking), class:"btn btn-primary" %>
  </div>
</div>
<% end %>
